<footer>
  <small>
    This project is maintained by <a href="https://www.bradleyacker.com">Brad Acker</a>.
    Disclosure: This content is reader-supported, which means if you click on some of our links that we may earn a commission.
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>
